<!DOCTYPE html>
<html>
<head>
  <title>The Opentok Mirror</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Muli:300,300italic" type='text/css' />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="<%= baseUrl %>/css/pattern.css" />
  <link rel="stylesheet" href="<%= baseUrl %>/css/main-layout.css" />

  <%- headerTags %>
</head>
<body>
  <div id="main-nav">
    <div class="bottom">
      <div class="container">
        <a href="//tokbox.com/" class="logo"><img src="./img/footer-tokbox_logo@2x.png" /></a>
        <ul class="navs">
          <li class="nav">
            <div class="toggle-link">
              <span>Dylan Pissmeoff</span>
              <ul class="sub-navs">
                <div class="right row">
                  <div class="four columns">
                    <li><a href="#">Logout</a></li>
                            </div>
                          </div>
                      </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>

  <div class="main-container">
    <%- mainContent %>
  </div>

</body>
</html>
